@import url(https://fonts.googleapis.com/css?family=Lobster);

@media (min-width: 1201px) {
    .circle {
        margin: 90px auto auto;
        height: 300px;
        width: 300px;
        border-radius: 100%;
        background: #37474f;
    }

    .anim {
        font-family: 'Lobster', cursive;
        font-size: 550%;
        color: #f0fff2;
        text-align: center;
        margin-left: -40px;
        -moz-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        -webkit-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        -o-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        -ms-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        /*-----------------------*/
        text-shadow: 1px 1px #37474f, 2px 2px #37474f, 3px 3px #37474f, 4px 4px #37474f, 5px 5px #37474f, 6px 6px #37474f, 7px 7px #37474f, 8px 8px #37474f, 9px 9px #37474f, 10px 10px #37474f, 11px 11px #37474f, 12px 12px #37474f, 13px 13px #37474f, 14px 14px #37474f, 15px 15px #37474f, 16px 16px #37474f, 17px 17px #37474f, 18px 18px #37474f, 19px 19px #37474f, 20px 20px #37474f, 21px 21px #37474f, 22px 22px #37474f, 23px 23px #37474f, 24px 24px #37474f, 25px 25px #37474f, 26px 26px 6px #37474f;

    }

    .anim-text {
        margin: 10px auto auto;
        height: 250px;
        width: 250px;
        font-family: Arial, serif;
        color: #f0fff2;
        text-align: center;
        font-size: 27px;

    }
}

@media (max-width: 500px) {
    .circle {
        margin: 90px auto auto;
        height: 250px;
        width: 250px;
        border-radius: 100%;
        background: #37474f;
    }

    .anim {
        font-family: 'Lobster', cursive;
        font-size: 450%;
        color: #f0fff2;
        text-align: center;
        margin-left: -40px;
        -moz-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        -webkit-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        -o-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        -ms-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        /*-----------------------*/
        text-shadow: 1px 1px #37474f, 2px 2px #37474f, 3px 3px #37474f, 4px 4px #37474f, 5px 5px #37474f, 6px 6px #37474f, 7px 7px #37474f, 8px 8px #37474f, 9px 9px #37474f, 10px 10px #37474f, 11px 11px #37474f, 12px 12px #37474f, 13px 13px #37474f, 14px 14px #37474f, 15px 15px #37474f, 16px 16px #37474f, 17px 17px #37474f, 18px 18px #37474f, 19px 19px #37474f, 20px 20px #37474f, 21px 21px #37474f, 22px 22px #37474f, 23px 23px #37474f, 24px 24px #37474f, 25px 25px #37474f, 26px 26px 6px #37474f;

    }

    .anim-text {
        margin: auto auto auto auto;
        height: 200px;
        width: 200px;
        font-family: Arial, serif;
        color: #f0fff2;
        text-align: center;
        font-size: 27px;

    }
}

@media (min-width: 501px) and (max-width: 650px) {
    .circle {
        margin: 90px auto auto;
        height: 275px;
        width: 275px;
        border-radius: 100%;
        background: #37474f;
    }

    .anim {
        font-family: 'Lobster', cursive;
        font-size: 500%;
        color: #f0fff2;
        text-align: center;
        margin-left: -40px;
        -moz-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        -webkit-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        -o-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        -ms-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        /*-----------------------*/
        text-shadow: 1px 1px #37474f, 2px 2px #37474f, 3px 3px #37474f, 4px 4px #37474f, 5px 5px #37474f, 6px 6px #37474f, 7px 7px #37474f, 8px 8px #37474f, 9px 9px #37474f, 10px 10px #37474f, 11px 11px #37474f, 12px 12px #37474f, 13px 13px #37474f, 14px 14px #37474f, 15px 15px #37474f, 16px 16px #37474f, 17px 17px #37474f, 18px 18px #37474f, 19px 19px #37474f, 20px 20px #37474f, 21px 21px #37474f, 22px 22px #37474f, 23px 23px #37474f, 24px 24px #37474f, 25px 25px #37474f, 26px 26px 6px #37474f;

    }

    .anim-text {
        margin: auto auto auto auto;
        height: 250px;
        width: 250px;
        font-family: Arial, serif;
        color: #f0fff2;
        text-align: center;
        font-size: 27px;

    }
}

@media (min-width: 651px) and (max-width: 768px) {
    .circle {
        margin: 90px auto auto;
        height: 300px;
        width: 300px;
        border-radius: 100%;
        background: #37474f;
    }

    .anim {
        font-family: 'Lobster', cursive;
        font-size: 550%;
        color: #f0fff2;
        text-align: center;
        margin-left: -40px;
        -moz-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        -webkit-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        -o-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        -ms-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        /*-----------------------*/
        text-shadow: 1px 1px #37474f, 2px 2px #37474f, 3px 3px #37474f, 4px 4px #37474f, 5px 5px #37474f, 6px 6px #37474f, 7px 7px #37474f, 8px 8px #37474f, 9px 9px #37474f, 10px 10px #37474f, 11px 11px #37474f, 12px 12px #37474f, 13px 13px #37474f, 14px 14px #37474f, 15px 15px #37474f, 16px 16px #37474f, 17px 17px #37474f, 18px 18px #37474f, 19px 19px #37474f, 20px 20px #37474f, 21px 21px #37474f, 22px 22px #37474f, 23px 23px #37474f, 24px 24px #37474f, 25px 25px #37474f, 26px 26px 6px #37474f;

    }

    .anim-text {
        margin: 10px auto auto;
        height: 250px;
        width: 250px;
        font-family: Arial, serif;
        color: #f0fff2;
        text-align: center;
        font-size: 27px;

    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .circle {
        margin: 90px auto auto;
        height: 300px;
        width: 300px;
        border-radius: 100%;
        background: #37474f;
    }

    .anim {
        font-family: 'Lobster', cursive;
        font-size: 550%;
        color: #f0fff2;
        text-align: center;
        margin-left: -40px;
        -moz-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        -webkit-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        -o-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        -ms-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        /*-----------------------*/
        text-shadow: 1px 1px #37474f, 2px 2px #37474f, 3px 3px #37474f, 4px 4px #37474f, 5px 5px #37474f, 6px 6px #37474f, 7px 7px #37474f, 8px 8px #37474f, 9px 9px #37474f, 10px 10px #37474f, 11px 11px #37474f, 12px 12px #37474f, 13px 13px #37474f, 14px 14px #37474f, 15px 15px #37474f, 16px 16px #37474f, 17px 17px #37474f, 18px 18px #37474f, 19px 19px #37474f, 20px 20px #37474f, 21px 21px #37474f, 22px 22px #37474f, 23px 23px #37474f, 24px 24px #37474f, 25px 25px #37474f, 26px 26px 6px #37474f;

    }

    .anim-text {
        margin: 10px auto auto;
        height: 250px;
        width: 250px;
        font-family: Arial, serif;
        color: #f0fff2;
        text-align: center;
        font-size: 27px;

    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .circle {
        margin: 90px auto auto;
        height: 300px;
        width: 300px;
        border-radius: 100%;
        background: #37474f;
    }

    .anim {
        font-family: 'Lobster', cursive;
        font-size: 550%;
        color: #f0fff2;
        text-align: center;
        margin-left: -40px;
        -moz-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        -webkit-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        -o-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        -ms-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        /*-----------------------*/
        text-shadow: 1px 1px #37474f, 2px 2px #37474f, 3px 3px #37474f, 4px 4px #37474f, 5px 5px #37474f, 6px 6px #37474f, 7px 7px #37474f, 8px 8px #37474f, 9px 9px #37474f, 10px 10px #37474f, 11px 11px #37474f, 12px 12px #37474f, 13px 13px #37474f, 14px 14px #37474f, 15px 15px #37474f, 16px 16px #37474f, 17px 17px #37474f, 18px 18px #37474f, 19px 19px #37474f, 20px 20px #37474f, 21px 21px #37474f, 22px 22px #37474f, 23px 23px #37474f, 24px 24px #37474f, 25px 25px #37474f, 26px 26px 6px #37474f;

    }

    .anim-text {
        margin: 10px auto auto;
        height: 250px;
        width: 250px;
        font-family: Arial, serif;
        color: #f0fff2;
        text-align: center;
        font-size: 27px;

    }
}

