@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

@import "../lib/material-design-4.7.1/css/bootstrap.min.css";
@import "../lib/material-design-4.7.1/css/mdb.min.css";

::selection {
    color: #fff;
    background: #09760e; /* Safari */
}

::-moz-selection {
    color: #fff;
    background: #f676b2; /* Firefox */
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

body {
    background: url("../images/epi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-weight: 300;
    text-align: left;
    text-decoration: none;
}

#container {
    border-radius: 5px;
    padding: 5px;
}

#container article {
    background: #f3f3f3;
    border-radius: 5px;
    display: inline-block;
    min-width: 243px;
    vertical-align: top;
    padding: 5px;
}

#three {
    background: #f3f3f3;
    border-radius: 5px;
    display: inline-block;
    width: 310px;
    vertical-align: top;
    margin-left: 80px;
}

#header {
    background: #e8e8e8;
    border-radius: 5px;
    padding: 5px;
}

.gradient {
    /* Center Positioning */
    width: 600px;
    height: 600px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -300px;
    z-index: -2;

    /* Fallback */
    background-image: url("../images/gradient.png");
    background-repeat: no-repeat;

    /* CSS3 Gradient */
    background-image: -webkit-gradient(radial, 0% 0%, 0% 100%, from(rgba(213, 246, 255, 1)), to(rgba(213, 246, 255, 0)));
}

/*******************
LOGIN FORM
*******************/

@media (min-width: 1201px) {
    .login-form {
        margin: 10% auto;
        width: 30%;
    }
}

@media (max-width: 500px) {
    .login-form {
        margin: 40% auto;
        width: 90%;
    }
}

@media (min-width: 501px) and (max-width: 650px) {
    .login-form {
        margin: 25% auto;
        width: 75%;
    }
}

@media (min-width: 651px) and (max-width: 768px) {
    .login-form {
        margin: 20% auto;
        width: 60%;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .login-form {
        margin: 20% auto;
        width: 50%;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .login-form {
        margin: 15% auto;
        width: 40%;
    }
}

.login-form {
    position: relative;

    background: #f3f3f3;
    border: 1px solid #fff;
    border-radius: 5px;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

/*******************
HEADER
*******************/

.login-form .header {
    padding: 20px 30px 30px 30px;
}

.login-form .header h1 {
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    color: #414848;
    margin-bottom: 10px;
    text-align: center;
}

.login-form .header span {
    font-size: 13px;
    line-height: 16px;
    color: #678889;
}

/*******************
CONTENT
*******************/

.login-form .content {
    padding: 0 30px 25px 30px;
    text-align: center;
    color: #414848;
    font-weight: 400;
    font-size: 14px;
}

.login-form .contentText {
    padding: 0 30px 0 30px;
    color: #414848;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
}

.login-form .contentBold {
    padding: 0 30px 25px 30px;
    text-align: center;
    font-weight: bold;
    color: #414848;
}

.login-form .list {
    color: #414848;
    text-align: left;
}

/* Input field */

.login-form .content .input {
    padding: 15px 25px;
    width: 90%;
    font-weight: 400;
    font-size: 14px;
    color: #9d9e9e;

    background: #fff;
    border: 1px #fff;
    border-radius: 5px;

    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
}

/* Second input field */
.login-form .content .password, .login-form .content .pass-icon {
    margin-top: 25px;
}

.login-form .content .input:hover {
    background: #dfe9ec;
    color: #414848;
}

.login-form .content .input:focus {
    background: #dfe9ec;
    color: #414848;

    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
}

.user-icon, .pass-icon {
    width: 46px;
    height: 47px;
    display: block;
    position: absolute;
    left: 0;
    padding-right: 2px;
    z-index: -1;

    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.user-icon {
    top: 133px; /* Positioning fix for slide-in, got lazy to think up of simpler method. */
    background: rgba(65, 72, 72, 0.75) url("../images/user-icon.png") no-repeat center;
}

.pass-icon {
    top: 185px;
    background: rgba(65, 72, 72, 0.75) url("../images/pass-icon.png") no-repeat center;
}

.content input:focus + div {
    left: -46px;
}

.modal-content {
    background: #f3f3f3;
}

/* Animation */
.input, .user-icon, .pass-icon, .register, .inputmedium, .inputsmall {
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

/*******************
FOOTER
*******************/

.login-form .footer {
    padding: 15px 30px 15px 30px;
    overflow: auto;

    background: #d4dedf;
    border-top: 1px solid #fff;

    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
}

/* Login button */
.login-form .footer .button {
    float: right;
    padding: 11px 25px;

    font-size: 18px;
    color: #fff;

    /*background: #56c2e1;*/
    border: 1px solid #46b3d3;
    border-radius: 5px;
    cursor: pointer;

    box-shadow: inset 0 0 2px rgba(256, 256, 256, 0.75);
    -moz-box-shadow: inset 0 0 2px rgba(256, 256, 256, 0.75);
    -webkit-box-shadow: inset 0 0 2px rgba(256, 256, 256, 0.75);
    text-decoration: none;
}

.login-form .footer .button:hover {
    background: #3f9db8;
    border: 1px solid rgba(256, 256, 256, 0.75);

    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.login-form .footer .button:focus {
    position: relative;
    bottom: -1px;

    background: #56c2e1;

    box-shadow: inset 0 1px 6px rgba(256, 256, 256, 0.75);
    -moz-box-shadow: inset 0 1px 6px rgba(256, 256, 256, 0.75);
    -webkit-box-shadow: inset 0 1px 6px rgba(256, 256, 256, 0.75);
}

.login-form .footer .forgotten_password {
    font-size: 14px;
    color: #37474f;
    font-weight: bold;
}


#main_container {

}

.bold {
    font-weight: bold;
}